*
    {
        margin: 0;
        padding: 0;
    }

a 
    {
        text-decoration: none;
        color: #404040;
    }

li 
    {
        list-style: none;
    }

#menu
    {
        width: 100%;
        background: #98E0AD;
    }

#menu1 ul
    {
        width: 100%;
        margin: 0 auto;
        outline: hidden;
    }    
    
#menu1 ul li 
    {
        float: left;
        width: 16.65%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        background: rgb(255, 255, 255);
    }    

#menu1 ul li a
    {
        display: block;
    }    

#menu1 ul li a:hover 
    {
        background: #e1e43656;
        color: rgb(255, 255, 255);
    }    
