*
    {
        margin: 0;
        padding: 0;
    }


/* image size */
.img 
    {
        width:325px; height:280px; overflow:hidden;     
    }

/* font */
.hedder
    {
        font-family: 'Lobster', cursive;
    }
.font
    {
        font-family: 'Noto Serif KR', serif;
    }

a 
    {
        text-decoration: none;
        color: #404040;
    }

li 
    {
        list-style: none;
    }

#menu
    {
        width: 100%;
        background: #98E0AD;
    }

#menu1 ul
    {
        width: 100%;
        margin: 0 auto;
        outline: hidden;
    }    
    
#menu1 ul li 
    {
        float: left;
        width: 16.65%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        background: rgb(255, 255, 255);
    }    

#menu1 ul li a
    {
        display: block;
    }    

#menu1 ul li a:hover 
    {
        background: #024e19f6;
        color: rgb(255, 255, 255);
    }    

.image-container 
    {
        position: relative;
    }

.image-container .after 
    {
        position: absolute;
        top: 45;
        width: 100%;
        height: 60%;
        display: none;
    }
    
.image-container:hover .after 
    {
        display: block;
        background: rgba(255, 255, 255, 0.555); 
    }
     
tr.fore
    {
        background-color:magenta;
    }